.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}

.buy-btn {
  padding: 10px 30px 10px 30px !important;
}
p,
svg {
  display: flex !important;
}
svg {
  margin-top: 10px;
}
.contact-subtitle {
  text-align: center !important;
  font-size: 10px;
  text-wrap: nowrap;
  margin-left: 5px;
  margin-right: 5px;
}

.whatsapp-card {
  width: 100%;
  margin: auto;
}

.message-card {
  width: 100%;
  margin: auto;
}

.btn:hover {
  opacity: 0.9;
}

@media (min-width: 991px) {
  .search-btn {
    padding: 10px 100px !important;
  }
  .head-text {
    font-size: 20px;
  }

  svg.loc {
    margin-top: 0;
    width: 25px;
    height: 25px;
  }
  svg.cont {
    width: 54px;
    height: 54px;
    margin-top: 0;
  }

  .toggle-btns label {
    padding: 10px 120px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .toggle-btns label.active {
    background: #2a478d;
    color: white;
    border-radius: 5px;
  }
  .whatsapp-btn {
    padding: 12px 110px !important;
  }
  .message-btn {
    padding: 12px 110px !important;
  }
  .contact-subtitle {
    text-align: start !important;
    font-size: 20px !important;
    text-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
  }
  .whatsapp-btn {
    padding: 12px 220px !important;
  }
  .message-btn {
    padding: 12px 250px !important;
  }
}

@media (max-width: 768px) {
  .contact-title {
    text-align: center;
  }
  .whatsapp-btn {
    padding: 12px 80px;
  }
  .message-btn {
    padding: 12px 96px;
  }
  .search-btn {
    padding: 10px 130px !important;
  }
  .propertylink {
    margin-top: 398px !important;
    font-size: 14px;
  }

  img.thumb {
    height: 300px !important;
  }
  .head-text1 {
    font-size: 35px;
  }

  .list {
    height: 150px;
    font-size: 10px;
  }

  .name {
    font-size: 12px;
  }
  .details-btn {
    font-size: 10px !important;
    padding: 3px;
  }
  .head-text {
    font-size: 12px !important;
    margin: 0 20px 0 5px !important;
  }

  .head-card {
    margin-top: -140px !important;
  }
  .heroWrapperStyle {
    margin: 0 0 0 0 !important;
    border-radius: 0px !important;
  }
  div {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: card;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
  }
  h4{
    font-size: 14px;
  }
  h1{
    font-size: 12px;
  }
  svg {
    width: 12px;
    height: 12px;
  }

  svg.icon {
    width: 30px;
    height: 30px;
  }

  svg.why {
    width: 50px;
    height: 50px;
    margin-top: 0% !important;
  }
  .why-text{
    font-size: 14px;
    margin-top: 2px !important;
  }
  .why-subtext{
    font-size: 12px;
    
  }
  #navbarScroll {
    margin-top: 50px;
  }

  button.close {
    background-color: white;
  }
  div.review {
    font-size: 14px;
  }
  .rev-img {
    width: 35px !important;
    height: 35px !important;
  }
  svg.loc {
    margin-top: 2px;
    width: 20px;
    height: 20px;
  }
  svg.cont {
    width: 40px;
    height: 40px;
    margin-top: 0;
  }

  .prop-card {
    margin-top: -20px !important;
  }
  .prope-card {
    margin-top: -88px !important;
  }

  .cont {
    font-size: 12px;
    text-align: center !important;
  }
  svg.client {
    width: 30px;
    height: 30px;
  }
  svg.review {
    width: 200px;
    height: 20px;
  }
  .toggle-btns label {
    padding: 10px 30px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .toggle-btns label.active {
    background: #2a478d;
    color: white;
    border-radius: 5px;
  }
  .nav-link {
    border-bottom: 1px solid gainsboro;
    width: 350px;
  }
 .eba{
  margin-top: 200px !important;
  position: absolute;
  margin-left:10px;
  margin-right: 10px;
 }
 .why-card{
  width: 300px;
  height: 150px;
  padding-top: 0vh;
  margin: auto;
  margin-left: 4%;
 }
  Nav{
    z-index: 1050 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .toggle-btns label {
    padding: 10px 80px !important;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .toggle-btns label.active {
    background: #2a478d;
    color: white;
    border-radius: 5px;
  }
  .search-btn {
    padding: 10px 50px !important;
  }
  .price {
    font-size: 18px !important;
  }
  .details {
    font-size: 14px !important;
  }
  .whatsapp-btn {
    padding: 12px 136px !important;
  }
  .message-btn {
    padding: 12px 150px !important;
  }
}
